backup
backup/*
*.out
*~
*.mexa64
randgen.c
dhakacity.c
randgen
platform.info
ctest.sh
test.c
ajaira.m
ghum.sh
*.autosave
checksum.txt
errors/*
staticsfun.c
*.sublime-project
*.sublime-workspace
.fuse_hidden*
__pycache__/
c_with_main
c_with_main.c
current.c
*.mat
slprj
slsf/reports/errors/*.slx
slsf/reports/othererrors/*.slx
slsf/reports/comperrors/*.slx
slsf/reports/loglenmismatch/*.slx
*.asv
slsf/temp
